.movie-item--container {
    width: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 5px 5px 3px 0px rgb(0 0 0 / 30%);
}

.movie-item--container img {
    position: relative;
    top: 0;
    left: 0;
}

.movie-item--container .movie-item--overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    position: absolute;
    transition: all 0.5s;
}

.movie-item--container .movie-item--overlay-text {
    position: absolute;
    top: -100%;
    left: 50%;
    transition: all 0.5s;
    transform: translate(-50%, -50%);
}

.movie-item--container .movie-item--overlay-text .movie-item--title {
    margin: 0 1px;
    color: rgba(225, 225, 225, 0.9);
    display: block;
    text-align: center;
    text-decoration: none;
}

.movie-item--container .movie-item--overlay-text .movie-item--title-1 {
    font-weight: 700;
    line-height: 40px;
    font-size: 24px;
}

.movie-item--container .movie-item--overlay-text .movie-item--title-2 {
    font-weight: 500;
    line-height: 40px;
    font-size: 20px;
}

.movie-item--container:hover .movie-item--overlay-text {
    top: 50%;
}

.movie-item--container:hover .movie-item--overlay {
    opacity: 1;
    top: 0;
}