.container {
  text-align: center;
  max-width: 75%;
  margin: 50px auto 250px auto;
}

.loader-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem 2.25rem;
  margin: 1rem 1rem;
}


.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem 2.25rem;
  margin: 1rem 1rem;
}

.movie-container > span {
  width: 80%;
}

.search-bar--input {
  width: 100%;
  font-size: 20px;
  padding: 5px 15px;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding: auto 20px;
  }
}

@media screen and (max-width: 468px) {
  .movie-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}